.media
  .media-left
    %a{:href => "#"}
      = image_tag comment.user.image, class: 'media-object', size: '64x64'
  .media-body
    %h4#top-aligned-media.media-heading
      = comment.user.username
      %a.anchorjs-link{:href => "#top-aligned-media"}
        %span.anchorjs-icon
    = simple_format(comment.comment)