.drop_menu_location
  %button#dropdownMenu.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
    Action
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
    %li
      = link_to 'Edit', edit_prototype_path(prototype)
    %li
      = link_to 'Delete', prototype_path(prototype), method: :delete
