= render 'prototypes/semi_header'
.container.proto-list
  .row
    .col-sm-12.col-md-12
      .thumbnail.tag-square
        %span= @tag
    = render partial: 'prototypes/prototype', collection: @prototypes
.text-center
  = paginate @prototypes
